<footer class="footer bg-light py-3 mt-5">
  <div class="container">
    <div class="row">
      <div class="col-md-8 text-center text-md-left">
        <p class="mb-0">Copyright © 2024 Claudia Amprimo. Todos los derechos reservados.</p>
      </div>
      <div class="col-md-4 text-center text-md-right">
        <p class="mb-0">España</p>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-12 text-center">
        <ul class="list-inline">
          <li class="list-inline-item"><a href="#">Política de privacidad</a></li>
          <li class="list-inline-item"><a href="#">Uso de cookies</a></li>
          <li class="list-inline-item"><a href="#">Condiciones de uso</a></li>
          <li class="list-inline-item"><a href="#">Avisos legales</a></li>
          <li class="list-inline-item"><a href="https://www.linkedin.com/in/claudia-amprimo/">Contacto</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
