<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top mb-5">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">LOGO APP</a>
    <button class="navbar-toggler" type="button" (click)="toggleNavbar()" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor02">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="/viaje" (click)="closeNavbar()">Viajes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/event', viajeId]" (click)="closeNavbar()">Itinerario</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/calendar" (click)="closeNavbar()">Calendario</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/chart" (click)="closeNavbar()">Costos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/amigos" (click)="closeNavbar()">Amigos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/map" (click)="closeNavbar()">Mundo</a>
        </li>
      </ul>
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item d-flex align-items-center me-3">
          <span class="navbar-text text-white">Estás en el viaje: {{ viajeTitulo }}</span>
        </li>
        @if (isAuthenticated$ | async) {
          <li class="nav-item">
            <a (click)="onLogout(); closeNavbar()" class="nav-link">LOG OUT</a>
          </li>
          <li class="nav-item">
            @if (userPhotoUrl$ | async) {
              <a routerLink="/perfil" (click)="closeNavbar()">
                <img [src]="userPhotoUrl$ | async" alt="User Avatar" class="rounded-circle" width="40" height="40">
              </a>
            } @else {
              <a routerLink="/perfil" (click)="closeNavbar()">
                <img src="http://localhost:3000/uploads/Profile_avatar_placeholder.png" alt="User Avatar" class="rounded-circle" width="40" height="40">
              </a>
            }
          </li>
        } @else {
          <li class="nav-item">
            <a routerLink="/login" routerLinkActive="active" class="nav-link" (click)="closeNavbar()">LOG IN</a>
          </li>
          <li class="nav-item">
            <a routerLink="/register" routerLinkActive="active" class="nav-link" (click)="closeNavbar()">REGISTER</a>
          </li>
        }
      </ul>
    </div>
  </div>
</nav>
