.margen-navbar {
  margin-top: 68px;
}

.title{
  margin-top: 12px;
  margin-bottom: 12px;
  display: flex;
  justify-content: space-between;
}

.btn {
  min-width: 100px;
  margin: 5px 0;
}

.btn-lg {
  min-width: 150px;
}

.custom-button {
  display: inline-block;
  padding: 10px 10px;
  font-size: 1rem;
  border-radius: 80px;
  margin-top: 4px;
}

.table-hover tbody tr:hover {
  background-color: #f5f5f5;
}

.table-responsive {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

.table thead th {
  vertical-align: top !important;
}

.friends-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.friends-container .d-flex {
  flex-wrap: wrap;
}

.friend-avatar {
  margin-bottom: 10px;
}

.table {
  border-collapse: collapse;
}

.table td, .table th {
  border: none;
  padding: 4px;
}

@media (max-width: 767px) {
  .btn-sm {
    min-width: 80px;
    width: 45%;
    display: inline-block;
    margin: 2px 0;
  }
  .table thead {
    display: none;
  }
  .table, .table tbody, .table tr, .table td {
    display: block;
    width: 100%;
  }
  .table tr {
    margin-bottom: 15px;
  }
  .table td {
    padding-left: 50%;
    position: relative;
    min-height: 50px;
    display: flex;
    align-items: center;
    word-wrap: break-word;
    white-space: pre-wrap;
  }
  .table td::before {
    content: attr(data-label);
    position: absolute;
    left: 0;
    width: 50%;
    padding-left: 15px;
    font-weight: bold;
    text-align: left;
  }
  .table td:last-child {
    text-align: center;
  }
  .friend-avatar {
    margin-bottom: 8px;
  }
}

@media (max-width: 445px) {
  .btn-sm {
    min-width: 60px;
    width: 60%;
    font-size: 0.7rem;
  }
  .btn-lg{
    font-size: 0.9rem;
    min-width: 100px;
  }
}
