.margen-navbar {
  margin-top: 68px;
}

.form-error{
  font-size: 0.8rem;
  color: red;
}

.custom-button {
  display: inline-block;
  padding: 12px 24px;
  font-size: 1rem;
  border-radius: 80px;
  margin: 8px;
}
