.carousel-caption{
  top: 30%;
}

.custom-button {
  display: inline-block;
  padding: 12px 24px;
  font-size: 1rem;
  border-radius: 80px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .custom-button {
    width: 70%;
    max-width: 200px;
    font-size: 0.8rem;
    padding: 8px 20px;
  }
}

@media (min-width: 1280px) {
  .custom-button {
    padding: 16px 30px;
    font-size: 1.2rem;
  }
}

.info-section {
  padding: 20px;
}

.testimonials {
  padding: 8px;
}

.testimonials h4 {
  margin-bottom: 20px;
}

.estrellas {
  color: #fad647 !important;
  font-size: 1.5rem;
}

.white-section {
  background-color: #ffffff;
}

.black-section {
  background-color: #1a1a1a;
}

.black-section h4, .black-section p {
  color: #ffffff;
}

.small-text {
  font-size: 0.9rem;
  padding: 4px;
}
