<div class="white-section py-5">
<div id="carouselExampleSlidesOnly" class="carousel slide carousel-fade" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="stock-photo-1.jpg" class="d-block w-100" alt="amigos viajando">
      <div class="carousel-caption d-flex justify-content-center align-items-center">
        <button type="button" class="btn btn-light custom-button" [routerLink]="['/add-viaje']">INICIA TU VIAJE AHORA</button>
      </div>
    </div>
    <div class="carousel-item">
      <img src="stock-photo-2.jpg" class="d-block w-100" alt="amigos viajando">
      <div class="carousel-caption d-flex justify-content-center align-items-center">
        <button type="button" class="btn btn-light custom-button" [routerLink]="['/add-viaje']">INICIA TU VIAJE AHORA</button>
      </div>
    </div>
    <div class="carousel-item">
      <img src="stock-photo-3.jpg" class="d-block w-100" alt="amigos viajando">
      <div class="carousel-caption d-flex justify-content-center align-items-center">
        <button type="button" class="btn btn-light custom-button" [routerLink]="['/add-viaje']">INICIA TU VIAJE AHORA</button>
      </div>
    </div>
    <div class="carousel-item">
      <img src="stock-photo-4.jpg" class="d-block w-100" alt="amigos viajando">
      <div class="carousel-caption d-flex justify-content-center align-items-center">
        <button type="button" class="btn btn-light custom-button" [routerLink]="['/add-viaje']">INICIA TU VIAJE AHORA</button>
      </div>
    </div>
    <div class="carousel-item">
      <img src="stock-photo-5.jpg" class="d-block w-100" alt="amigos viajando">
      <div class="carousel-caption d-flex justify-content-center align-items-center">
        <button type="button" class="btn btn-light custom-button" [routerLink]="['/add-viaje']">INICIA TU VIAJE AHORA</button>
      </div>
    </div>
  </div>
</div>
</div>

<div class="white-section pb-5">
<div class="container">
  <div class="info-section text-center">
    <p>Centraliza todos los detalles de tu viaje en una sola app.<br> Organiza itinerarios, coordina con tus compañeros y mantén
      todo al alcance de la mano, sin complicaciones. <br> ¡Haz que cada aventura sea más fácil y divertida!</p>
    <h4>PLANIFICA JUNTOS, VIAJA MEJOR</h4>
  </div>
</div>
</div>

<div class="black-section py-5">
<div class="container py-5">
  <div class="mt-2">
    <h4 class="text-center">Testimonios de usuarios satisfechos</h4>
    <div class="testimonials text-center">
      <div class="testimonial-carousel carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <p class="estrellas">★★★★★</p>
            <p>"Con LOGO APP organizamos un viaje entre amigos y fue muy fácil coordinar entre todos. Viajar en grupo nunca fue tan simple!"</p>
          </div>
          <div class="carousel-item">
            <p class="estrellas">★★★★★</p>
            <p>"La mejor app para viajes en grupo, ¡totalmente recomendada!"</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

<div class="container text-center mt-5"><h4>DESTINOS MÁS FRECUENTES</h4></div>
<div class="container my-5">
  <div class="row">
    <div class="col-md-6 mb-4">
      <a href="https://www.skyscanner.es/vuelos-a/bkkt/vuelos-baratos-a-bangkok.html" class="text-decoration-none text-dark">
        <div class="destination-card" style="background-color: #f0f4f7;">
          <img src="bangkok.jpg" class="img-fluid" alt="Bangkok Foto">
          <div class="card-body text-center py-3">
            <h3 class="text-dark">Bangkok</h3>
            <p class="text-dark small-text">Explora la energía de Bangkok, donde la tradición se encuentra con la modernidad.</p>
            <span class="btn btn-dark">Más información</span>
          </div>
        </div>
      </a>
    </div>

    <div class="col-md-6 mb-4">
      <a href="https://www.skyscanner.es/vuelos-a/pari/vuelos-baratos-a-paris.html" class="text-decoration-none text-dark">
        <div class="destination-card" style="background-color: #f0f4f7;">
          <img src="paris.jpg" class="img-fluid" alt="Paris Foto">
          <div class="card-body text-center py-3">
            <h3 class="text-dark">Paris</h3>
            <p class="text-dark small-text">Vive la magia de París, la ciudad del amor, donde cada rincón cuenta una historia encantadora.</p>
            <span class="btn btn-dark">Más información</span>
          </div>
        </div>
      </a>
    </div>

    <div class="col-md-6 mb-4">
      <a href="https://www.skyscanner.es/vuelos-a/dxb/vuelos-baratos-a-dubai-aeropuerto.html" class="text-decoration-none text-dark">
        <div class="destination-card" style="background-color: #f0f4f7;">
          <img src="dubai.jpg" class="img-fluid" alt="Dubai Foto">
          <div class="card-body text-center py-3">
            <h3 class="text-dark">Dubai</h3>
            <p class="text-dark small-text">Vive el lujo y la innovación en Dubái, donde el futuro se fusiona con el desierto.</p>
            <span class="btn btn-dark">Más información</span>
          </div>
        </div>
      </a>
    </div>

    <div class="col-md-6 mb-4">
      <a href="https://www.skyscanner.es/vuelos-a/lond/vuelos-baratos-a-londres.html" class="text-decoration-none text-dark">
        <div class="destination-card" style="background-color: #f0f4f7;">
          <img src="londres.jpg" class="img-fluid" alt="Londres foto">
          <div class="card-body text-center py-3">
            <h3 class="text-dark">Londres</h3>
            <p class="text-dark small-text">Descubre la elegancia e historia en Londres, donde cada rincón cuenta un relato.</p>
            <span class="btn btn-dark">Más información</span>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>
