.carousel-caption{
  top: 30%;
}

.custom-button {
  display: inline-block;
  padding: 12px 24px;
  font-size: 1rem;
  border-radius: 80px;
}

@media (max-width: 768px) {
  .custom-button {
    width: 70%;
    max-width: 200px;
    font-size: 0.8rem;
    padding: 8px 20px;
  }
}

@media (min-width: 1280px) {
  .custom-button {
    padding: 16px 30px;
    font-size: 1.2rem;
  }
}

.info-section {
  padding: 20px;
}

.testimonials-container {
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 10px;
  background-color: #d4d4d4;
  max-width: 600px;
  margin: 0 auto;
}

.testimonials {
  padding: 8px;
}

.testimonials h4 {
  margin-bottom: 20px;
}

.estrellas{
  color: #856d0e;
  font-size: 1.5rem;
}
