.margen-navbar {
  margin-top: 68px;
}

.balance-list {
  list-style-type: none;
  padding: 0;
}

.balance-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.balance-info {
  display: flex;
  align-items: center;
}

.balance-text {
  margin-left: 10px;
}

.amount {
  font-weight: bold;
  color: #28a745;
}

.pay-button {
  padding: 6px 12px;
  font-size: 0.9rem;
}

.list-group-item {
  padding: 4px 8px;
  border: 1px solid #ededed;
  margin: 4px;
}

.text-danger {
  color: red;
}

.text-success {
  color: green;
}

.custom-button {
  display: inline-block;
  padding: 12px 24px;
  font-size: 1rem;
  border-radius: 80px;
  margin: 8px;
}

canvas {
  height: 480px !important;
}

@media (max-width: 767px) {
  .balance-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
  }

  .balance-text {
    margin-bottom: 0;
    flex-grow: 1;
  }

  .btn-liquidar {
    font-size: 0.8rem;
    padding: 6px 6px;
    min-width: 130px;
    max-width: 130px;
    text-align: center;
  }

  canvas {
    height: 580px !important;
  }
}
