<div class="margen-navbar"></div>

@if(alertMessage){
  <div class="alert-container">
    <div class="alert" [ngClass]="{
      'alert-success': alertType === 'success',
      'alert-danger': alertType === 'danger',
      'alert-warning': alertType === 'warning'
    }" role="alert">
      {{ alertMessage }}
    </div>
  </div>
}

<div class="container mt-4">
  <div class="d-flex justify-content-end mb-3">
    <button class="btn btn-outline-success btn-lg custom-button" routerLink="/add-viaje">Crear Viaje</button>
  </div>
  <div class="row justify-content-center">
    @for (viaje of viajes; track viaje) {
      <div class="col-md-4 mb-4 d-flex align-items-stretch">
        <div class="destination-card" style="text-decoration: none; color: inherit; background-color: #f0f4f7;">
          <img src="http://localhost:3000/uploads/vacaciones3.jpg" class="img-fluid" alt="Imagen del viaje">
          <div class="card-body text-center py-3">
            <h3 class="text-dark">{{ viaje.titulo }}</h3>
            <p class="text-dark small-text">Inicio: {{ viaje.fecha_inicio | date:'dd/MM/yyyy' }}</p>
            <p class="text-dark small-text">Fin: {{ viaje.fecha_fin | date:'dd/MM/yyyy' }}</p>
            <button (click)="onSelectViaje(viaje.id_viaje, viaje.titulo)" class="btn btn-outline-dark">VER DETALLES</button>
            <a [routerLink]="['/edit-viaje', viaje.id_viaje]" class="btn btn-outline-secondary mt-2">Editar Viaje</a>
            <a href="#" (click)="openDeleteModal(viaje.id_viaje); $event.preventDefault();" class="small text-secondary mt-2">Eliminar Viaje</a>
          </div>
        </div>
      </div>
    }
  </div>
</div>

<app-confirm-modal
  #confirmModal
  [title]="'Eliminar Viaje'"
  [message]="'¿Está seguro que desea eliminar este viaje? Esta acción no se puede deshacer.'"
  [confirmButtonText]="'Eliminar'"
  [cancelButtonText]="'Cancelar'"
  (confirm)="onConfirmDelete()"
  (cancel)="onCancelDelete()">
</app-confirm-modal>
