.margen-navbar {
  margin-top: 68px;
}

.destination-card {
  background-color: #f0f4f7;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.destination-card:hover {
  transform: translateY(-5px);
}

.img-fluid {
  width: 100%;
  height: auto;
}

.card-body {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.card-title {
  min-height: 50px;
}

.custom-button {
  display: inline-block;
  padding: 10px 10px;
  font-size: 1rem;
  border-radius: 80px;
  margin-top: 4px;
}

.small-text {
  font-size: 0.9rem;
  padding: 4px;
}
