.margen-navbar {
  margin-top: 68px;
}

.custom-button {
  display: inline-block;
  padding: 12px 24px;
  font-size: 1rem;
  border-radius: 80px;
  margin: 8px;
  cursor: pointer;
}

.select-scroll {
  max-height: 100px;
  overflow-y: auto;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 4px;
}

.btn-volver{
  color: #6c757d;
  font-weight: normal;
  font-size: small;
}
