<div class="margen-navbar"></div>

<div class="row m-3">
  <div class="col-lg-6 offset-lg-3 col-md-8 offset-md-2 col-sm-10 offset-sm-1">
    <div class="card bg-light mb-3">
      <div class="card-header text-center">
        <h6>{{operacion}} Viaje</h6>
      </div>

      <div class="card-body">
        <form [formGroup]="viajeForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label for="titulo">Título *</label>
            <input type="text" id="titulo" class="form-control" formControlName="titulo" placeholder="Ingrese el título del viaje">
            @if (viajeForm.get('titulo')?.touched && viajeForm.get('titulo')?.invalid) {
              <div class="text-danger">El título es requerido.</div>
            }
          </div>

          <div class="form-group mt-2">
            <label for="ubicacion">Ubicación *</label>
            <input type="text" id="ubicacion" class="form-control" formControlName="ubicacion" placeholder="Ingrese la ubicación del viaje">
            @if (viajeForm.get('ubicacion')?.touched && viajeForm.get('ubicacion')?.invalid) {
              <div class="text-danger">La ubicación es requerida.</div>
            }
          </div>

          <div class="form-group mt-2">
            <label for="fecha_inicio">Fecha de Inicio *</label>
            <input type="date" id="fecha_inicio" class="form-control" formControlName="fecha_inicio">
            @if (viajeForm.get('fecha_inicio')?.touched && viajeForm.get('fecha_inicio')?.invalid) {
              <div class="text-danger">La fecha de inicio es requerida.</div>
            }
          </div>

          <div class="form-group mt-2">
            <label for="fecha_fin">Fecha de Fin *</label>
            <input type="date" id="fecha_fin" class="form-control" formControlName="fecha_fin">
            @if (viajeForm.get('fecha_fin')?.touched && viajeForm.get('fecha_fin')?.invalid) {
              <div class="text-danger">La fecha de fin es requerida.</div>
            }
          </div>

          <div class="form-group mt-2">
            <label for="amigos">Selecciona Amigos</label>
            <app-seleccionar-amigo
              [selectedFriends]="selectedAmigos"
              (amigosSeleccionados)="onAmigosSeleccionados($event)">
            </app-seleccionar-amigo>
          </div>

          <div class="form-group mt-3">
            <button type="button" class="btn btn-secondary btn-sm" (click)="openAddFriendModal()">Agregar Amigos</button>
          </div>

          <div class="row mt-3">
            <div class="col text-center">
              <button type="submit" class="btn btn-success custom-button" [disabled]="viajeForm.invalid">{{operacion}} Viaje</button>
            </div>
            <button routerLink="/viaje" type="button" class="btn btn-link text-muted btn-volver">Volver</button>
          </div>
          <div class="mt-2">
            <p class="text-end">* Campos requeridos</p>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="addFriendModal" tabindex="-1" aria-labelledby="addFriendModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addFriendModalLabel">Agregar Amigos</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <app-add-friend></app-add-friend>
      </div>
    </div>
  </div>
</div>
